    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */
    .navbar {
    
    }

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
    
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      margin: 0 auto;
    /*  width: 984px; */
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
	.carousel {
	/*
	  min-width: 1024px;
	  max-width: 1024px; 
	display: block;
	margin: 0 auto;*/
	margin-bottom: 50px;
	
	}

    .carousel .container {
    
                height:  768px;
    
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 52px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color:rgba(0,0,0,0.5);
      border: 0;
      z-index: 10;
    }
    
    

    .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%
    /*
    position:absolute;
    left:0;
    right:0;
    top: 71px;
    margin-left:auto;
    margin-right:auto;*/
      
    }
    .carousel .container .fixed-width img { min-width:none; }
    
    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 650px;
      padding: 0 20px;
      margin-top: 180px;
    }
     
     .carousel-center-caption {
       background-color: transparent;
       position: static;
       max-width: 550px;
       padding: 0 140px;
       margin-top: 180px;
     }
         
    .carousel-caption h1,
    .carousel-caption .lead,
    .carousel-center-caption h1,
    .carousel-center-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

	.accordion .well p {
	  color: white;
	}
	.accordion .well {
	border: 0;
    background-color: transparent;
	}	
	.accordion .icon-info-sign {
	  color: white;
	  font-size: 30px;
	}
	/* GUEST BOOK CONTENT
	-------------------------------------------------- */
	.guest-book {
		margin-top: 100px;
	}
	.quote-box {
	    border: 1px solid #e6e6e6;
	    padding: 30px;
	    border-radius: 2px
	}
	
	.quote-box q {
	    display: block;
	    font-size: 19px;
	    line-height: 30px;
	    margin: 0 0 0 30px
	}
	
	.quote-box .quote-left {
	    position: absolute;
	    margin: -12px 0 0 -10px;
	    background: url(//cdn.shopify.com/assets/images/long-landing/sprite.png?1387912210) -316px -147px no-repeat;
	    width: 33px;
	    height: 28px
	}
	
	.quote-box .quote-right {
	    position: absolute;
	    margin: 4px -10px 0 10px;
	    background: url(//cdn.shopify.com/assets/images/long-landing/sprite.png?1387912210) -353px -147px no-repeat;
	    width: 33px;
	    height: 28px
	}
	
	.quote-arrow {
	    display: block;
	    margin: -1px 0 0 5px;
	    background: url(//cdn.shopify.com/assets/images/long-landing/sprite.png?1387912210) -480px -120px no-repeat;
	    width: 99px;
	    height: 13px
	}
	
	/* ABOUT CONTENT
	-------------------------------------------------- */
	.about {
		margin-top: 100px;
		/*padding-left: 170px;*/
	}
	.about img {
		padding: 10px;
	}
	/* Links CONTENT
	-------------------------------------------------- */
	.links {
		margin-top: 100px;
		/*padding-left: 170px;*/
	}
	.link-box {
	    border: 1px solid #e6e6e6;
	    padding: 30px;
	    border-radius: 2px;
	    text-align: center;
	}
	.link-box .title {
	    font-weight: bold;
	}

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    .about .featurette {
      padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
    }
    .about .featurette-text {
    align-content: top;
    max-width: 50%;
    }
    .about .featurette-image {
      margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }
    

	.facebook {
	    display: block;
		margin-left:auto;
		margin-right:auto;
		padding-left: 20px;
		width: 100px;
		height: 50px;
	}
	
	.about .featurette-image {
	  width: 50%; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	}



    /* RESPONSIVE CSS
    -------------------------------------------------- */
    @media (min-width: 2200px) {
        .carousel .container {
    	  height: 1100px;
        }
        .carousel img {
          height: 1100px;
        }
    }
    
    @media (max-width: 2200px) {
        .carousel .container {
    	  height: 1100px;
        }
        .carousel img {
          height: 1100px;
        }
    }
    
    @media (max-width: 2000px) {
        .carousel .container {
    	  height: 900px;
        }
        .carousel img {
          height: 900px;
        }
    }
    
    @media (max-width: 1600px) {
	    .carousel .container {
		  height: 700px;
	    }
	    .carousel img {
	      height: 700px;
	    }
	    .carousel-caption {
	      width: 65%;
	      padding: 0 70px;
	      margin-top: 125px;
	    }
    }
    
    @media (max-width: 1200px) {
	    .carousel .container {
	      height: 600px;
	    }
	    .carousel img {
	      height: 600px;
	    }
	    .carousel {
          /* Useful for responsive debugging */
	      border: 5px solid green; 
	    }
	    .carousel img {
	    /*
	    	min-width: 940px;
	    	max-width: 940px;*/
	    }
	    .carousel-caption {
	      width: 65%;
	      padding: 0 70px;
	      margin-top: 100px;
	    }
	    .featurette {
          /* Useful for responsive debugging 
		  border: 5px solid green;*/
	    }
    }

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel {
      /* Useful for responsive debugging 
		border: 5px solid pink; */
	  }

	  .carousel .container {
		 height: 500px;
	  }
      
      .carousel img {
      /*
		min-width: 725px;
		max-width: 725px;*/
        height: 500px;
      }
      .carousel-caption {
        padding: 0 70px;
        margin-top: 95px;
      }

      .featurette {
        /* Useful for responsive debugging 
  		border: 5px solid pink; */
        height: auto;
        padding: 0;
        text-align: center;
        
      }
      .featurette-text,
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 80%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
      /* Useful for responsive debugging 
  		border: 5px solid red; */
      }
      .carousel .container {
       height: 380px;
      }

      .carousel img {
       height: 380px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 75px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }
      
      .featurette {
        /* Useful for responsive debugging 
    	border: 5px solid green; */

      }
      .featurette-text {
        max-width: 100%;
      }
      
      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      .featurette-text.pull-left,
      .featurette-text.pull-right,
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        width: 100%;
      }

    }