RewriteEngine on

Redirect 301 /availability/ /about/availability.php
Redirect 301 /availability /about/availability.php
Redirect 301 /about/availability/ /about/availability.php
Redirect 301 /about/availability /about/availability.php

Redirect 301 /facilities/ /about/facilities.php
Redirect 301 /facilities /about/facilities.php
Redirect 301 /about/facilities/ /about/facilities.php
Redirect 301 /about/facilities /about/facilities.php

Redirect 301 /markets/ /about/markets.php
Redirect 301 /markets /about/markets.php
Redirect 301 /about/markets/ /about/markets.php
Redirect 301 /about/markets /about/markets.php

Redirect 301 /photos/ /about/photos.php
Redirect 301 /photos /about/photos.php
Redirect 301 /about/photos/ /about/photos.php
Redirect 301 /about/photos /about/photos.php

Redirect 301 /restaurants/ /about/restaurants.php
Redirect 301 /restaurants /about/restaurants.php
Redirect 301 /about/restaurants/ /about/restaurants.php
Redirect 301 /about/restaurants /about/restaurants.php

Redirect 301 /towns/ /about/towns.php
Redirect 301 /towns /about/towns.php
Redirect 301 /about/towns/ /about/towns.php
Redirect 301 /about/towns /about/towns.php

Redirect 301 /fr/availability/ /fr/about/availability.php
Redirect 301 /fr/availability /fr/about/availability.php
Redirect 301 /fr/about/availability/ /fr/about/availability.php
Redirect 301 /fr/about/availability /fr/about/availability.php

Redirect 301 /fr/facilities/ /fr/about/facilities.php
Redirect 301 /fr/facilities /fr/about/facilities.php
Redirect 301 /fr/about/facilities/ /fr/about/facilities.php
Redirect 301 /fr/about/facilities /fr/about/facilities.php

Redirect 301 /fr/markets/ /fr/about/markets.php
Redirect 301 /fr/markets /fr/about/markets.php
Redirect 301 /fr/about/markets/ /fr/about/markets.php
Redirect 301 /fr/about/markets /fr/about/markets.php

Redirect 301 /fr/photos/ /fr/about/photos.php
Redirect 301 /fr/photos /fr/about/photos.php
Redirect 301 /fr/about/photos/ /fr/about/photos.php
Redirect 301 /fr/about/photos /fr/about/photos.php

Redirect 301 /fr/restaurants/ /fr/about/restaurants.php
Redirect 301 /fr/restaurants /fr/about/restaurants.php
Redirect 301 /fr/about/restaurants/ /fr/about/restaurants.php
Redirect 301 /fr/about/restaurants /fr/about/restaurants.php

Redirect 301 /fr/towns/ /fr/about/towns.php
Redirect 301 /fr/towns /fr/about/towns.php
Redirect 301 /fr/about/towns/ /fr/about/towns.php
Redirect 301 /fr/about/towns /fr/about/towns.php

Redirect 301 /es/availability/ /es/about/availability.php
Redirect 301 /es/availability /es/about/availability.php
Redirect 301 /es/about/availability/ /es/about/availability.php
Redirect 301 /es/about/availability /es/about/availability.php

Redirect 301 /es/facilities/ /es/about/facilities.php
Redirect 301 /es/facilities /es/about/facilities.php
Redirect 301 /es/about/facilities/ /es/about/facilities.php
Redirect 301 /es/about/facilities /es/about/facilities.php

Redirect 301 /es/markets/ /es/about/markets.php
Redirect 301 /es/markets /es/about/markets.php
Redirect 301 /es/about/markets/ /es/about/markets.php
Redirect 301 /es/about/markets /es/about/markets.php

Redirect 301 /es/photos/ /es/about/photos.php
Redirect 301 /es/photos /es/about/photos.php
Redirect 301 /es/about/photos/ /es/about/photos.php
Redirect 301 /es/about/photos /es/about/photos.php

Redirect 301 /es/restaurants/ /es/about/restaurants.php
Redirect 301 /es/restaurants /es/about/restaurants.php
Redirect 301 /es/about/restaurants/ /es/about/restaurants.php
Redirect 301 /es/about/restaurants /es/about/restaurants.php

Redirect 301 /es/towns/ /es/about/towns.php
Redirect 301 /es/towns /es/about/towns.php
Redirect 301 /es/about/towns/ /es/about/towns.php
Redirect 301 /es/about/towns /es/about/towns.php

Redirect 301 /cat/availability/ /cat/about/availability.php
Redirect 301 /cat/availability /cat/about/availability.php
Redirect 301 /cat/about/availability/ /cat/about/availability.php
Redirect 301 /cat/about/availability /cat/about/availability.php

Redirect 301 /cat/facilities/ /cat/about/facilities.php
Redirect 301 /cat/facilities /cat/about/facilities.php
Redirect 301 /cat/about/facilities/ /cat/about/facilities.php
Redirect 301 /cat/about/facilities /cat/about/facilities.php

Redirect 301 /cat/markets/ /cat/about/markets.php
Redirect 301 /cat/markets /cat/about/markets.php
Redirect 301 /cat/about/markets/ /cat/about/markets.php
Redirect 301 /cat/about/markets /cat/about/markets.php

Redirect 301 /cat/photos/ /cat/about/photos.php
Redirect 301 /cat/photos /cat/about/photos.php
Redirect 301 /cat/about/photos/ /cat/about/photos.php
Redirect 301 /cat/about/photos /cat/about/photos.php

Redirect 301 /cat/restaurants/ /cat/about/restaurants.php
Redirect 301 /cat/restaurants /cat/about/restaurants.php
Redirect 301 /cat/about/restaurants/ /cat/about/restaurants.php
Redirect 301 /cat/about/restaurants /cat/about/restaurants.php

Redirect 301 /cat/towns/ /cat/about/towns.php
Redirect 301 /cat/towns /cat/about/towns.php
Redirect 301 /cat/about/towns/ /cat/about/towns.php
Redirect 301 /cat/about/towns /cat/about/towns.php



# Redirects for old site
Redirect 301 /fr/others.html /
Redirect 301 /es/others.html /
Redirect 301 /eng/others.html /

Redirect 301 /eng/toulouse.html /
Redirect 301 /eng/gaillac.html /
Redirect 301 /eng/albi.html /
Redirect 301 /eng/lavaur.html /
Redirect 301 /fr/toulouse.html /
Redirect 301 /fr/gaillac.html /
Redirect 301 /fr/albi.html /
Redirect 301 /fr/lavaur.html /

Redirect 301 /exterior.html /
Redirect 301 /interior.html /
Redirect 301 /fr/exterior.html /
Redirect 301 /fr/interior.html /

Redirect 301 /eng/chambres.html /
Redirect 301 /fr/chambres.html /

RewriteCond %{HTTP_HOST} ^darrach\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.darrach\.net$
RewriteRule ^/?$ "http\:\/\/lamaisondesamis\.fr\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^lochlann\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.lochlann\.net$
RewriteRule ^/?$ "http\:\/\/lamaisondesamis\.fr\/" [R=301,L]

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
